<ion-header>
  <ion-toolbar>
    <ion-title>
      SCIO Home Page 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>
    <ion-item>
      <ion-label>Themes</ion-label>
      <ion-select formControlName='topics' name='topics' multiple="true" cancelText="Nah" okText="Okay!">
        <ion-select-option value="Mathématiques">Maths</ion-select-option>
        <ion-select-option value="Anglais">English</ion-select-option>
        <ion-select-option value="Physique">Physics</ion-select-option>
        <ion-select-option value="biology">Biology</ion-select-option>
        <ion-select-option value="Français">French</ion-select-option>        
      </ion-select>      
    </ion-item>
    <ion-item>
      <ion-label>Levels</ion-label>
      <ion-select formControlName='levels' name='levels' multiple="true" cancelText="Nah" okText="Okay!">
        <ion-select-option value="3ème">3eme</ion-select-option>
        <ion-select-option value="4ème">4eme</ion-select-option>
        <ion-select-option value="5ème">5eme</ion-select-option>
        <ion-select-option value="6ème">6eme</ion-select-option>
      </ion-select>      
    </ion-item>
    <ion-button expand="block" color='warning' type='submit' >Search</ion-button>
  </form>


      <ion-card block *ngFor="let item of items">
        <ion-card-subtitle>created at : {{ item.created_at }}</ion-card-subtitle>
        <ion-card-title>
          {{item.description}}
    </ion-card-title>
    <br>
    <ion-card-content>
      <ion-button expand="block" routerLink="/request-details/{{item.id}}" routerDirection="forward">show request</ion-button>
    </ion-card-content>
    <ion-chip>
      <ion-label>{{item.level_name}}</ion-label>
    </ion-chip>
    <ion-chip>
      <ion-label>{{item.theme_name}}</ion-label>
    </ion-chip>  
  </ion-card>

</ion-content>